<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/dashboard.css">
  
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script type='text/javascript' src='/javascripts/dashboard.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.js'></script>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/dayGrid.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/timeGrid.css">
  <script type='text/javascript' src='/javascripts/dayGrid.js'></script>
  <script type='text/javascript' src='/javascripts/timegrid.js'></script>
  <script type='text/javascript' src='/javascripts/interaction.js'></script>

</head>
<body>
  <div class="grid-container">
    <div class="menu-icon">
      <i class="fas fa-bars header__menu"></i>
    </div>
    <header class="header">
      <div class="header__search"><%= userInfo.business.business_name %></div>
      <div class="header__avatar">Hello, <%= userInfo.displayname %></div>
      <div class="header__login"><a href="/">Logout</a></div>
    </header>

    <aside class="sidenav">
      <div class="sidenav__close-icon">
        <i class="fas fa-times sidenav__brand-close"></i>
      </div>
      <ul class="sidenav__list">
          <li class="sidenav__list-item"><a href="/users/employee-dashboard">Home</a></li>
          <li class="sidenav__list-item"><a href="/message">Message</a></li>
          <li class="sidenav__list-item"><a href="/users/profile">Profile</a></li>
          <li class="sidenav__list-item"><a href="/users/employee-dashboard">Personal Schedule</a></li>
          <% if (userInfo.admin_user === true) { %>
              <li class="sidenav__list-item"><a href="/users/admin/dashboard">Full Schedule</a></li>
              <li class="sidenav__list-item"><a href="/users/admin/schedule">Shift Scheduler</a></li>
              <li class="sidenav__list-item"><a href="/users/admin/employees">Employees List</a></li> 
          <% } %>
      </ul>
    </aside>
    <!-- <div class="user-dashboard">
      <div class="user-info">
        <h1>User Profile</h1>
        <p>user info 1</p>
        <p>user info 2</p>
        <p>user info 3</p>
        
      </div> -->
      <div id="calendar"></div>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
          selectable: true,
          defaultView: 'timeGridWeek',
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          // footer: {
          //   center: 'addEventButton'
          // },
          timeZone: 'local',
          editable: false,

          events:<%- JSON.stringify(calendarEvents) %>,
          
          dateClick: function(info) {
            alert('clicked ' + info.dateStr);
          },
          // select: function(info) {
          //   alert('selected ' + info.startStr + ' to ' + info.endStr);
          //   console.log(info)
          //   calendar.addEvent({
          //     title:"Time Off",
          //     start: info.startStr,
          //     end: info.endStr
          //   })
          //         },
          
        });
        calendar.render();
      });

    </script>
    </div>
  </body>
</html>