<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404: Error</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/dashboard.css">
    <script type='text/javascript' src='/javascripts/dashboard.js'></script>
</head>
<body>

<div class="grid-container">
    <div class="menu-icon">
        <i class="fas fa-bars header__menu"></i>
    </div>
    <header class="header">
        <div class="header__search">404 Error</div>
        <div class="header__avatar">Hello, You must have arrived here by Mistake</div>

        <div class="header__login"><a href="/">Logout</a</div>
    </header>

    <aside class="sidenav">
        <div class="sidenav__close-icon">
        <i class="fas fa-times sidenav__brand-close"></i>
        </div>
        <ul class="sidenav__list">
                <li class="sidenav__list-item"><a href="users/employee-dashboard">Home</a></li>
                <li class="sidenav__list-item"><a href="/users/profile">Profile</a></li>
        </ul>
    </aside>

    <main class="main">
        <div class="main-header">
            <!-- <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre> -->
        <div class="main-header__heading">404 Page Not Found:
        <p>"There was even going to be a party for you. A big party, that all your friends were invited to.</p>
        <p>I invited your best friend the companion cube. Of course, he couldn't come because you murdered him.</p>
        <p>All your other friends couldn't come either because you don't have any other friends. Because of how unlikeable your are."</p>
        </div>
        </div>
      </main>

</body>
</html>