<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scheduler App</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/dashboard.css">
    <script type='text/javascript' src='/javascripts/dashboard.js'></script>
</head>
<body>
    <div class="grid-container">
        <div class="menu-icon">
            <i class="fas fa-bars header__menu"></i>
        </div>
        
        <header class="header">
            <div class="header__search">Business</div>
            <div class="header__avatar">Scheduler App</div>
    
            <div class="header__login"><a href="/login">Log In / Register</a></div>
        </header>
    
        <aside class="sidenav">
            <div class="sidenav__close-icon">
            <i class="fas fa-times sidenav__brand-close"></i>
            </div>
            <ul class="sidenav__list">
            <li class="sidenav__list-item"><a href="/"></a>Home</a></li>
            <li class="sidenav__list-item"><a href="/about">About</a></li>

            </ul>
        </aside>
        <main class="main">
            <div class="main-header">
            <div class="main-header__heading">Welcome to The Greatest Scheduling App of All Time
            <p>Do you need Help Scheduling Your Employees?</p><br/>
    </body>
    </html>